@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    width: 80vw;
}

/* body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: blueviolet;
}

body::-webkit-scrollbar-thumb {
    background-color: salmon;
    border: 2px solid #fafa;
} */