header {
    height: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(5, 64, 178, 1) 0%, rgba(111, 160, 255, 1) 16%, rgba(108, 155, 248, 1) 35%, rgba(20, 26, 72, 1) 77%, rgba(2, 0, 36, 1) 100%);
}

.header__logo {
    object-fit: contain;
    width: 200px;
    margin: 5px 0 5px 0;
}

.header__subtitle {
    width: 250px;
}

.header__conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #ffff;
}

.btn__logout {
    background-color: transparent;
    color: #fff;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
}

.btn__logout:hover {
    color: #ff0000;
}

.header__busca {
    display: flex;
    justify-content: center;
    background-color: #B5B5B5;
    align-items: center;
}

.header__marcas{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: 5px 0 5px 0
}

.btn__login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input__busca {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.input__busca input {
    background-color: transparent;
    border-style: none;
    height: max-content;
    width: 90%;
}