@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.containerLogin {
    background-image: url(../img/backgroundLoginCadastros.png);
    height: 1132px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p {
    text-transform: uppercase;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.formLogin {
    background-color: #C4C4C4;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
    width: 64.19270833333333vw;
    height: 38.85411140583554vh;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    height: 38.85411140583554vh;
    
}

.formulario input {
    width: 44.127604166666664vw;
    height: 4.538462vh;
    display: flex;
    border-radius: 5px;
    border: none;
    
    
}

.loginSenha {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
}

.btn {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    text-transform: uppercase;
    width: 17.111979vw;
    height: 4.885942vh;
    border-radius: 5px;
}